<h1>
    Movie Details
</h1>
<p>
    Year: <%= @the_year %>
</p>
<p>
    Title: <%= @the_title %>
</p>
<p>
    Duration: <%= @the_duration %>
</p>
<p>
    Description: <%= @the_description %>
</p>
<div>
    <img src="<%= @url %>">
</div>



       <a href = "/movies" class="btn btn-default">
            Go back
          </a>

        <a href = "/movies/<%= @an_id %>/edit" class="btn btn-default">
            Edit
          </a>
    
        <a href = "/delete_movie/<%= @an_id %>" class="btn btn-default">
            Delete
          </a>